[2014-02-07 16:56] andrewdolman opened #26 "Intention for rGLM"
Dear rGLM developers,
Is the intention for rGLM to be an interface to GLM, i.e. you will be able to setup (set parameters and initial state) and run GLM from R? Or is it helper functions to process the output from GLM?

Thanks.

[2014-02-17 17:23] #26 closed, assigned to jordansread

[2014-07-21 19:38] jordansread opened #28 "modify help for ncdf4 R3.1 version."
New version for x64 windows 4_1.12.zip. No R3.1 support yet for i386

[2014-07-28 13:14] jordansread opened #31 "rename packge to 'glmtools'"
I want to do this in advance of the GLEON 16 meeting. It is a more accurate representation of what the package does. The r{something} or py{something} to me means "an R implementation of {something}."

[2014-07-28 15:13] #28 closed, assigned to nobody

[2014-07-28 15:14] #31 closed, assigned to nobody

[2014-08-15 13:23] jordansread opened #38 "compare_to_field as_values return date too"
as_values = T doesn't give back the time points, just indices

[2014-08-15 13:30] jordansread opened #39 "consider diagnostic plots for compare_to_field"

[2014-08-15 13:33] jordansread opened #40 "add get_metrics (rLA?) to list supported function for compare_to_field?"

[2014-08-15 13:42] jordansread opened #41 "add a glm_diagnostics function? (w/ plots)"
takes args for metrics to use compare_to_field and create a multi-panel diagnostic plot?

consider 1:1 plots and time-series plots for each variable.

optional output for combined RMSEs to enter optim().

[2014-08-19 18:52] jordansread opened #49 "add INSTALL_opts = '--no-multiarch' to install instructions on windows"
Probably need to break up the readme install into linux/OSX and Windows. The no-multiarch is needed on the Windows installs (unless ncdf4 is on both archs), but not the others.

[2014-08-20 16:21] #49 closed, assigned to nobody

[2014-08-26 21:04] #40 closed, assigned to nobody

[2014-08-26 21:04] #38 closed, assigned to nobody

[2014-09-18 13:16] jordansread opened #54 "get_metrics(with_nml = FALSE) returns 'schmidt.stability'"
And it shouldn't, since that metrics uses bathymetry, which is in the .nml file.

[2014-09-18 14:36] #54 closed, assigned to nobody

[2014-09-18 14:36] #39 closed, assigned to nobody

[2014-10-02 14:16] jordansread opened #60 "Add CITATION file"
Hipsey ea and Read ea

[2014-10-14 14:23] jordansread opened #62 "add temperature RMSE metric for methods"

[2014-10-18 22:38] jordansread opened #63 "remove dependency on dev version of rLA"

[2014-10-19 00:37] jread-usgs opened #64 "change package to create an .nc file, instead of pack it in the extdir"
Use example data to build .nc after running `GLM`, or should output.nc example still be included?

@lawinslow have an opinion on this? Just trying to lock down the hands on examples, and I realized that the example .nml in `glmtools` can't actually be run (points to a met.csv that doesn't exist...)

[2014-10-19 01:19] jordansread opened #65 "add plot/preview for drivers"
Useful for summary and/or diagnostics. Working on this now.

[2014-10-19 12:32] #65 closed, assigned to nobody

[2014-10-21 15:46] #63 closed, assigned to nobody

[2014-10-21 15:53] jordansread opened #70 "update src for glmtools before GLEON meeting"
currently still has the center.buoyancy and ncdf4 depends

[2014-10-21 16:00] #70 closed, assigned to nobody

[2014-10-21 19:13] hdugan opened #71 "Permission error"
Permission denied, can't run demo(glm) on MacOS.

[2014-10-21 20:02] hdugan opened #72 "Water density"
When using a metric of 'water density', returns an error associated with multiple values per date.

[2014-10-23 13:40] lawinslow opened #73 "plot_temp does not run dev.off() when not writing plot to file"

[2014-10-23 22:42] #73 closed, assigned to jordansread

[2014-10-24 00:10] #72 closed, assigned to nobody

[2014-10-24 00:11] #62 closed, assigned to jordansread

[2014-10-24 00:23] lawinslow opened #77 "Add dates to figures for Dale"

[2014-10-24 00:23] lawinslow opened #78 "Fix merge of code for Dale's figures"

[2014-10-24 03:51] #78 closed, assigned to jordansread

[2014-10-24 03:51] #60 closed, assigned to nobody

[2014-10-24 03:51] #41 closed, assigned to nobody

[2014-10-24 15:03] #71 closed, assigned to nobody

[2014-10-24 16:22] hdugan opened #80 "More OSX errors"
This issue arose on someone's install:
`dyld: lazy symbol binding failed: Symbol not found: ___exp10
  Referenced from: /Library/Frameworks/R.framework/Versions/3.1/Resources/library/GLMr/extbin/macGLM/bin/glm
  Expected in: /usr/lib/libSystem.B.dylib`
`dyld: Symbol not found: ___exp10
  Referenced from: /Library/Frameworks/R.framework/Versions/3.1/Resources/library/GLMr/extbin/macGLM/bin/glm
  Ex

[2014-10-24 17:23] jordansread opened #81 "handle resample_to_field empty return"

[2014-10-24 22:05] #77 closed, assigned to nobody

[2014-10-25 10:48] #80 closed, assigned to nobody

[2014-10-25 12:56] #81 closed, assigned to nobody

[2014-10-25 12:57] jordansread opened #85 "support subdaily validation data"
See @snortheim 's files. Current will return an error.

applies to `resample_to_field`

[2014-10-25 13:59] jordansread opened #87 "Implement method == 'interp' for resample_sim"
currently only supports exact match (exact relative to precision)

[2014-10-26 19:33] hdugan opened #88 "run_glm"
run_glm(sim_folder, verbose = TRUE)

Set default of sim_folder to '.', so can be run as
`run_glm()`
when working directory is the sim folder

[2014-10-28 14:49] lawinslow opened #89 "Error with more than one year on sim_metrics()"
From Dale:

[code]

[2014-10-31 16:51] lawinslow opened #92 "Need function to list all variables available in NC file"
Maybe output in alphabetical order. Useful for plot_var and get_raw

[2014-10-31 16:57] lawinslow opened #93 "Move glmtools back to GLEON?"
So the primary user group knows where to find the repository?

[2014-10-31 16:58] lawinslow opened #94 "plot_var z_scale too coarse"
Fix z_scaling so that the scale can be at steps < 1. For example, some metrics vary from 0 to 1. (or 0 to 5) and the z-scale becomes very very coarse (I think it is stepping 1 step at a time)

[2014-10-31 19:57] jread-usgs opened #95 "Need to pull in testing suite"
test_that

[2014-10-31 20:16] #88 closed, assigned to nobody

[2014-11-05 18:09] jordansread opened #96 "resample_sim seems to return all NA when there is ice"

[2014-11-05 18:32] jread-usgs opened #97 "document 'get_var()' function"

[2014-11-05 18:46] jordansread opened #99 "resample_sim retains order of t_out, but should probably order depths appropriately"

[2014-11-05 18:57] #99 closed, assigned to jordansread

[2014-11-05 19:45] #89 closed, assigned to nobody

[2014-11-05 20:48] lawinslow opened #100 "Should read_nml handle double-quoted strings?"
Not sure if coercing to NA is desired behavior or not. I believe GLM can read double quoted strings just fine. May want to generalize to either.

[2014-11-06 16:44] #100 closed, assigned to jordansread

[2014-11-07 14:43] #92 closed, assigned to nobody

[2014-11-19 21:59] jordansread opened #106 "only throw error for dup dates when time period overlaps"
https://github.com/USGS-R/mda.lakes/issues/44

[2014-11-19 22:07] #106 closed, assigned to nobody

[2014-11-19 22:20] jordansread opened #108 "fix warnings on plot_temp_compare"
Warning messages:
1: graphical parameter "cin" cannot be set
2: graphical parameter "cra" cannot be set
3: graphical parameter "csi" cannot be set
4: graphical parameter "cxy" cannot be set
5: graphical parameter "din" cannot be set
6: graphical parameter "page" cannot be set
7: graphical parameter "cin" cannot be set
8: graphical parameter "cra" cannot be set
9: graphical parameter "csi" cannot b

[2014-11-21 14:39] #96 closed, assigned to jordansread

[2014-11-21 14:39] #93 closed, assigned to nobody

[2014-11-21 14:40] #87 closed, assigned to jordansread

[2014-11-21 14:40] #85 closed, assigned to jordansread

[2014-11-21 15:26] jordansread opened #109 "Fix par override on glmtools plotting function"
be a better plotting citizen.

[2014-12-02 00:36] lawinslow opened #110 "Fix par/layout override on glmtools plotting functions (e.g. summarize_sim fails)"
From here
https://github.com/GLEON/GLMr/issues/56

[code]

gives funky plotting issues. glmtools bug? I think so

[2014-12-02 02:25] #94 closed, assigned to nobody

[2014-12-02 03:07] #109 closed, assigned to nobody

[2014-12-02 21:11] #108 closed, assigned to nobody

[2014-12-04 17:21] jread-usgs opened #113 "compare_to_field RMSE on temps seems to be wrong"
need to have a test for this function

[2015-01-03 21:25] #113 closed

[2015-01-03 21:25] jread-usgs opened #115 "fix examples to all use glm2.nml"
```system.file('extdata', 'glm.nml', package = 'glmtools')```
in `plot_meteo` example is one. may be more

[2015-01-05 13:27] jread-usgs opened #116 "read_nml pointed to a non nml file gives weird error"
`Error in (blckOpen[i] + 1):(blckClse[i] - 1) : NA/NaN argument`
Should be something a little more descriptive.

[2015-01-05 21:29] jread-usgs commented on #115
closing and replacing w/ new plan/issue

[2015-01-05 21:29] #115 closed

[2015-01-05 21:31] jread-usgs opened #118 "scope glmtools examples and package data relative to GLMr"
glmtools contains:
 - driver data
 - calibration data
 - `run_example_sim()` function (which builds glm2.nml in temp dir, moves driver and runs model)

[2015-01-05 21:32] jread-usgs commented on #118
@lawinslow so...
The way I am seeing it is that neither package actually contains a .nc or lake.csv etc. Did I miss anything?

[2015-01-05 21:43] lawinslow commented on #118
Nope. Those outputs are generated from the inputs, no need to store them. Looking good

[2015-01-05 21:53] jread-usgs commented on #118
- [ ] `compare_to_field()`
- [ ] `plot_temp_compare()`
- [ ] `plot_temp()`
- [ ] `plot_var()`
- [ ] `summarize_sim()`
- [ ] `plot_temp_compare`
- [ ] `sim_vars()`
- [ ] `resample_to_field()`
- [ ] `get_temp()`
- [ ] `plot_validate_profiles()`

[2015-01-05 22:07] jread-usgs commented on #118
I think this list is complete..
Makes me not want to do this again.

[2015-01-05 22:08] jread-usgs opened #119 "create run_example_sim(path) function"

[2015-01-07 22:38] jread-usgs commented on #119
#120 taken care of

[2015-01-07 22:38] #119 closed

[2015-01-07 22:38] jread-usgs commented on #118
Also accomplished w/ #120

[2015-01-07 22:38] #118 closed

[2015-01-08 13:06] #97 closed

[2015-01-08 13:07] jread-usgs commented on #64
Taken care of with #120

[2015-01-08 13:07] #64 closed

[2015-01-09 20:11] jread-usgs commented on #95
#123

[2015-01-09 20:11] #95 closed

[2015-01-30 16:14] lawinslow opened #126 "slack test"

[2015-01-30 16:14] #126 closed

[2015-01-30 17:24] lawinslow opened #127 "Add water level comparison plotting function"
Similar to the water temp comparison plotting.

[2015-02-02 17:26] jread-usgs opened #128 "look into initializing conditions w/ previous output"
How well does this work? So use all depths from the end of the sim and set initial conditions to it, including depth etc.

[2015-02-02 17:40] lawinslow commented on #128
Might work in open-water season. Don't know if there's a way to init ice.

Would also need to set lake level, salinity (not an issue for us)

[2015-02-02 17:44] lawinslow commented on #128
I wonder how the NML file does layer thicknesses on the init. Hmm

[2015-02-03 13:38] #127 closed

[2015-02-17 13:14] jread-usgs opened #130 "get_temp error w/ ncdf"
from @joneslabND

[code]

[2015-02-17 13:50] lawinslow commented on #130
@joneslabND Could we get a copy of the NC file? Is it possible that the NC file itself is corrupt for some reason?

[2015-03-09 14:31] hdugan opened #132 "Install error"
I keep getting this error on installation (on MacOS):

``Error in library(glmtools) : there is no package called ‘glmtools’
Calls: .First -> library
Execution halted``
``Warning in install.packages :
  installation of package ‘GLMr’ had non-zero exit status``

``Error in library(glmtools) : there is no package called ‘glmtools’
Calls: .First -> library
Execution halted``
``Warning in install.packa

[2015-03-09 14:37] jread-usgs commented on #132
I think this is an issue with where the different packages are hosted. Can you past in the code you used to install the package?

[2015-03-09 14:41] hdugan commented on #132
From the github page...

``install.packages("glmtools",
    repos = c("http://gleon.github.com/", "http://usgs-r.github.com/", "http://cran.us.r-project.org"),
    dependencies = TRUE,
    type = "both")``

[2015-03-09 14:43] jread-usgs commented on #132
We did something silly. I will fix it and modify the install instructions after Luke posts the packages

[2015-03-09 22:19] lawinslow commented on #132
Ok, Fixed. Both GLMr and glmtools are now available from GRAN. Install instructions [here](http://owi.usgs.gov/R/gran.html). Let us know how that goes.

[2015-03-10 00:01] hdugan commented on #132
GRAN!!! Cool.

Warning in install.packages :
  unable to access index for repository http://owi.usgs.gov/R/bin/macosx/contrib/3.0

   package ‘glmtools’ is available as a source package but not as a binary

Warning in install.packages :
  package ‘glmtools’ is not available (for R version 3.0.3)

[2015-03-10 00:09] jread-usgs commented on #132
@hdugan upgrade R!!

[2015-03-10 00:47] hdugan commented on #132
Done. Although I'll miss seeing "warm puppy" as my build.
However,
``
   package ‘glmtools’ is available as a source package but not as a binary

Warning in install.packages :
  package ‘glmtools’ is not available (for R version 3.1.2)``

[2015-03-10 00:52] jread-usgs commented on #132
ok, I guess the mac binaries aren't up yet. just add `type='both'` to your `install.packages` arguments

[2015-03-10 00:56] hdugan commented on #132
Halfway. This installed GLMr:
``install.packages("glmtools", repos="http://owi.usgs.gov/R",type='both')``

But not glmtools:
``Error in library(glmtools) : there is no package called ‘glmtools’
Calls: .First -> library
Execution halted
Warning in install.packages :
  installation of package ‘glmtools’ had non-zero exit status``

[2015-03-10 00:58] jread-usgs commented on #132
`install.packages("glmtools", repos="http://owi.usgs.gov/R",type='both', dependencies = TRUE)`

[2015-03-10 01:04] hdugan commented on #132
Same result

[2015-03-10 01:09] jread-usgs commented on #132
@lawinslow it sure doesn't look like `glmtools` is on GRAN.

[2015-03-10 01:39] lawinslow commented on #132
LaMeO. Looking into it.

[2015-03-10 02:05] lawinslow commented on #132
@hdugan should be fixed now. Give it another go.

[2015-03-10 14:11] hdugan commented on #132
Still same error.

[2015-03-10 14:39] lawinslow commented on #132
Have you restarted R since you last tried? If not, could you restart it and give this a go

    install.packages("glmtools", repos="http://owi.usgs.gov/R")

[2015-03-10 14:42] hdugan commented on #132
I thought so... but success! GLM forever!

[2015-03-10 14:44] #132 closed

[2015-03-10 14:49] jread-usgs commented on #132
woot woot!

[2015-03-13 14:59] jread-usgs opened #135 "make "no hanging lines" error more helpful"
i.e., which line number(s).

Happens when trailing lines don't have commas but do have \n

[2015-03-13 15:03] jread-usgs commented on #135
should add some tests for this too..it is a headache

[2015-03-13 15:13] jread-usgs opened #136 "read_nml breaks when whitespace exists before "&""

[2015-03-13 15:20] jread-usgs opened #137 "link sim_vars to plot_var and get_var documentation"

[2015-03-13 15:27] eread-usgs opened #138 "plot_var: make data range default as col_lim if argument is missing"
[code]

[2015-03-13 15:34] jread-usgs opened #139 "retain comment blocks from nml file?"

[2015-03-13 17:29] jread-usgs commented on #136
dangerous silent fail on these blocks

[2015-03-13 17:30] jread-usgs opened #140 "Add 1D var plot for plot_var"

[2015-03-13 17:35] jread-usgs opened #141 "add revert_nml() method as a one-step undo"

[2015-03-13 20:06] jread-usgs commented on #130
wontfix unless we can figure out what this is.

[2015-03-13 20:07] jread-usgs commented on #136
Adding validate blocks to `read_nml()` for starters. Then get a little fancier later if we need to.

[2015-03-13 21:46] jread-usgs opened #142 "get_var names headers as wtr"

[2015-03-13 21:46] jread-usgs commented on #142
really minor issue, but could be confusing down the line.

[2015-03-13 23:57] #135 closed

[2015-03-13 23:57] #136 closed

[2015-03-13 23:57] #138 closed

[2015-03-13 23:57] #140 closed

[2015-03-14 11:59] jread-usgs commented on #110
http://seananderson.ca/courses/11-multipanel/multipanel.pdf

[2015-03-14 12:18] jread-usgs commented on #110
things that plot:
- [ ] `summarize_sim`
- [ ] `plot_var`
- [ ] `plot_temp`
- [ ] `plot_compare_stage`
- [ ] `plot_temp_compare`
- [ ] `plot_validate_profiles`
- [ ] `validate_sim`

[2015-03-14 12:33] jread-usgs commented on #110
@lawinslow personally, I would like to wipe out some bloat now that get_var and plot_var exist. Replace summarize_sim with plot_var? (plot_var could take a vector of var_names instead of just one). Also, is `validate_sim` redundant with some of the other `compare` plots?

[2015-03-15 11:58] jread-usgs opened #145 "vectorize sim_var_units and sim_var_longname function"

[2015-03-15 19:18] jread-usgs opened #146 "bad block nml errors"
need /n between the block errors

[2015-03-16 01:43] #110 closed

[2015-03-16 01:43] #137 closed

[2015-03-16 01:43] #146 closed

[2015-03-16 16:03] ldecicco-USGS opened #147 "Add travis and appveyor files to Rbuildignore."

[2015-03-16 16:09] hdugan opened #148 "file argument default"
It would be cool if the file argument defaulted to 'output.nc' for functions such as:
sim_var(file='output.nc')
plot_var(file='output.nc',...)

[2015-03-16 16:13] hdugan opened #149 "Tot_V plot weirdness"
plot_var(...,var='Tot_V') doesn't look right.

[2015-03-16 16:19] hdugan opened #150 "plot_temp_compare needs legend"
Self explanatory from title

[2015-03-16 16:30] jread-usgs opened #151 "as_value for water.temperature only returns one val per day"
probably for water.density too

[2015-03-16 16:43] KevinCRose opened #152 "issue with validate_sim"
# Performed the following with the example simulation completed for GLMr:
validate_sim('C:/Users/Rose Family/Desktop/output/output.nc', 'C:/Users/Rose Family/Desktop/output/field_data.csv', c('thermo.depth', 'water.temperature'), fig_path = FALSE)

received the following:
Error in plot.new() : figure margins too large
In addition: Warning message:
In validate_sim("C:/Users/Rose Family/Desktop/outp

[2015-03-16 17:06] jread-usgs opened #153 "support parser for aed nml set and get"
current method will fail if there are duplicates

`output::variable`?

[2015-03-17 15:41] hdugan commented on #139
:+1:

[2015-03-17 16:01] jread-usgs opened #155 "create "block off"

[2015-03-17 16:02] jread-usgs opened #156 "create "block off" or something to comment or remove a block of nml"
function to easily turn off (for example) aed part of the sim

[2015-03-17 20:26] #155 closed

[2015-03-17 20:36] eread-usgs opened #157 "create function to change AED nml files as is possible for GLM nml file"

[2015-03-17 20:37] jread-usgs commented on #157
:+1:

[2015-03-17 20:37] jpdoubek commented on #157
I'll plus one that

[2015-03-17 20:38] pchanson opened #158 "Increase font size for labels on heat maps"

[2015-03-17 20:39] jread-usgs commented on #158
:+1:

[2015-03-17 20:39] snortheim opened #159 "generalized comparison plot"

[2015-03-17 20:40] jpdoubek commented on #158
Yes

[2015-03-17 20:41] jread-usgs commented on #159
@snortheim so like a `plot_compare_var` function?

[2015-03-17 20:41] dzrobert opened #160 "Output AED data in mg/L rather than mmoles"

[2015-03-17 20:43] lawinslow commented on #160
Tough one. Those units are controlled in the model. Maybe just a handy function that does the conversion?

[2015-03-25 19:59] jread-usgs commented on #148
I agree w/ this. Any reason not to implement @lawinslow ?

@hdugan up for a pull request?

[2015-03-26 13:53] lawinslow commented on #148
Nope, no reason not to. Go for it @hdugan

[2015-03-27 19:02] #148 closed

[2015-04-04 12:39] jread-usgs opened #163 "update install instructions in readme.md"
did we miss this? is stil GH install. whoops.

[2015-04-06 20:43] #163 closed

[2015-04-06 20:44] #147 closed

[2015-04-07 18:22] jread-usgs commented on #149
Tracked this down and am dealing w/ it

[2015-04-07 18:28] jread-usgs commented on #145
I think this is covered by `sim_vars()`

[2015-04-07 18:28] #145 closed

[2015-04-07 19:01] jread-usgs commented on #151
found issue and fixed. PR coming

[2015-04-13 12:48] #151 closed

[2015-04-13 12:48] #149 closed

[2015-04-13 12:49] jread-usgs commented on #153
look into https://github.com/timelyportfolio/listviewer as a potential R list editor/viewer.

[2015-04-14 16:44] lawinslow commented on #156
@dzrobert upvotes this

[2015-04-14 16:47] jread-usgs commented on #156
@lawinslow got any suggestions for the syntax on this? I think I can implement it (and will self-assign), but should this be an arg in `set_nml`, or a different function?

[2015-04-14 17:36] lawinslow commented on #156
No clue, would we be able to turn it back on? If not, it seems you'd just need a `rm_nml_block` or something function. Otherwise, toggle or enable/disable would be nice functionality.

[2015-04-14 19:44] jread-usgs commented on #156
the complexity of this wildly varies depending on whether we want "switch off" vs "toggle on/off". If it is a toggle, it is kind of more in-line with the support of comments in #139

[2015-04-14 19:55] lawinslow commented on #156
Yeah, I know. @dzrobert, would just `rm_nml_block` be helpful? Or do you want to toggle it on and off?

[2015-04-14 19:58] jread-usgs commented on #156
@hdugan did you have a use-case for this, or does it not apply to your workflow?

[2015-04-15 12:50] jread-usgs commented on #156
@lawinslow I think I may add the `rm_nml_block` and then a quick `add_nml_block` that accepts a list of depth = 1. To get fancy, the return of `rm_nml_block` could be an invisible list of that block that was removed, so if you wanted to toggle:
[code]

ugg, nevermind, that won't work w/ pass by copy.

Other ideas to support a toggle without a major overhaul?

[2015-04-15 18:13] lawinslow commented on #156
Ok, how about this

[code]

Thoughts?

[2015-04-15 18:44] jread-usgs commented on #156
I like this a lot.

Personally, I do like going with
`glm_nml['&wq_setup::variable'] = newvalue`
to follow R's hierarchy for package::function, instead of treating it like xpath. I would like to converge on something though, because I am using something similar in `geoknife` to do quick feature grabs (`webgeom('state::NH')` for the state of New Hampshire; similar for ecoregions, etc.) I would like

[2015-04-15 18:48] jread-usgs commented on #156
Curious though, @lawinslow - is this kind of thing possible with the `[` generic?
[code]

[2015-04-15 18:54] lawinslow commented on #156
It would be possible, but maybe not desirable given the conflation of dimensionality.

How about
[code]

[2015-04-15 18:55] jread-usgs commented on #156
yes, that works for me

[2015-04-27 18:15] jread-usgs commented on #128
@hdugan this is relevant to our call today.

[2015-04-28 13:58] jread-usgs opened #168 "remove old example data from glmtools"
Looks like there is still a glm.nml in the extdata folder

[2015-05-07 20:35] #160 closed

[2015-06-08 15:51] hdugan opened #172 "plot_temp field data?"
For plot_temp_compare, the field data .csv/.tsv is structured as data.frame(datetime,depth,wtemp).

Can a heatmap of water temp be made for just field data? As opposed to using rlakeanalyzer, which requires more of a matrix form for data with unique depths as columns?

[2015-06-08 15:52] jread-usgs commented on #172
I would :+1: that. I think the pieces might be there internally

[2015-06-08 15:52] jread-usgs commented on #172
but would require a bit of work. probably not too bad

[2015-06-08 19:55] lawinslow commented on #172
Yeah, shouldn't be hard. `plot_var_field`? `plot_field_var`?

Alternative would be to make read.ts in rLakeAnalyzer more general so it can read in either wide format, or long format and pivot it into a wide format. Do you want to be able to handle just manually observed data or profiler data as well? @jabrent might have an example set of code for doing the pivoting.

[2015-06-08 20:50] jabrent commented on #172
Yep, I definitely have some code for doing some pivoting. The reshape2 package is really helpful and this page: http://seananderson.ca/2013/10/19/reshape.html has some good info for how to set the fields for dcast if you want to get from long to wide format data. melt let's you go the other way.
#Chl Reshape
Chl_profile = read.csv("Chl_Reshape_Oct2014.csv") #the structure of this data is for multi

[2015-06-09 12:12] jread-usgs commented on #172
With the more generic title `rLakeAnalyzer`, it might be good to outsource some plotting from there for the manual stuff...hmm

[2015-07-06 20:20] hdugan opened #174 "get_time_info close ncdf?"
Referencing: `nc_helpers.R`, `get_time_info` function

Not sure about this, but I think the if statement on Line 61-63,

    if (missing(glm_nc)) {
	 close_glm_nc(glm_nc)
    }

doesn't work, since the code creates a glm_nc object. Should the if statement be deleted? Keep just the close call?
`close_glm_nc(glm_nc)`

[2015-07-06 20:55] lawinslow commented on #174
You mean like this?
https://github.com/USGS-R/glmtools/pull/173/files

[2015-07-06 20:57] lawinslow commented on #174
Also, we still want to selectively close because sometimes that call is part of a larger set of function calls referring to the NC file. We leave the connection open throughout them all. Granted, it isn't clear how much overhead there is if we were to just open/close in each function, but that's not how its done right now.

[2015-07-06 20:58] lawinslow commented on #174
@hdugan just noticed that we haven't pushed that update I referenced to GRAN, so you wouldn't have gotten the update. That was an oversight. I'm pushing now.

[2015-07-07 14:01] lawinslow commented on #174
@hdugan update is up now. If you update to 0.9.8 this issue is fixed.

[2015-07-07 14:01] #174 closed

[2015-09-15 20:26] jread-usgs commented on #157
we are going to be working on this now. Will document here.

[2015-09-15 21:06] jread-usgs commented on #157
A couple of changes here.
- the variable names are not unique, and one name can exist in several blocks
- the current parser condenses the string vectors (e.g., "FLOW,TEMP,SALT,OXY_oxy,SIL_rsi,NIT_amm,NIT_nit") so that seems to be another issue

[2015-09-15 21:11] jread-usgs opened #176 "character strings are compressed on return"
[code]
vs numerics are fine
[code]

[2015-09-16 13:53] jread-usgs commented on #157
Current syntax:
reading in fabm.nml w/ `read_nml()`
[code]
'Fsed_oxy' is in (at least) two blocks. The simple syntax returns the first variable name match and doesn't warn that there may be more than one match (probably not desired). The `::` syntax specifies {block name}::{arg name} to be more explicit

[2015-09-16 13:59] jread-usgs commented on #157
Update. the function now warns if more than one match was found:
[code]

[2015-09-16 14:04] jread-usgs commented on #157
Update. A better warning message:
[code]

[2015-09-16 14:17] lawinslow commented on #157
Are you doing set_nml_value as well?

[2015-09-16 14:18] jread-usgs commented on #157
yep, same deal for that. Working on it now

[2015-09-16 14:58] jread-usgs commented on #157
added some tests for set too, but the syntax is the same:
[code]
or
[code]
which will warn if there is more than one match to the arg_name

[2015-09-16 15:59] jread-usgs commented on #153
redundant w/ #157

[2015-09-16 15:59] #153 closed

[2015-09-16 16:00] jread-usgs commented on #157
Anyone up for trying this out?

[2015-09-17 14:00] jread-usgs commented on #157
fixed with #177

[2015-09-17 14:00] #157 closed

[2015-09-17 14:00] jread-usgs commented on #159
working on this now, but only for DO since the unit conversions are so tricky for the state variables

[2015-09-17 14:08] jread-usgs commented on #159
Would be something like this
![image](https://cloud.githubusercontent.com/assets/2349007/9935346/a84cd346-5d1b-11e5-8cf2-62d38156a5d9.png)

but, depth on the y-axis, w/ a general colorbar

[2015-09-17 14:20] jread-usgs commented on #159
`plot_temp_compare()` will now call `plot_var_compare()` with `var_name='temp'`

[2015-09-17 14:41] dzrobert commented on #159
Hi Jordan,
 That is exactly what I am thinking, just for Dissolved Oxygen.

Thanks,
Dale

On Thu, Sep 17, 2015 at 9:08 AM, Jordan S Read <notifications@github.com>
wrote:

--
Dale M. Robertson, PhD
Research Hydrologist                    Telephone # 608-821-3867
U.S. Geological Survey                  Fax #              608-821-3817
Water Science Center                   Email Address: dzrobert@us

[2015-09-17 16:08] jread-usgs opened #178 "resample_sim doesn't truncate to early dates when method='interp'"
[code]
doesn't limit the range to t_out for the returned data.frame.

[2015-09-17 16:14] jread-usgs commented on #172
So, question for the group - how much plotting should be done in `rLakeAnalyzer` vs this package?

[2015-09-17 16:15] jread-usgs commented on #178
nevermind. I looked at things backwards

[2015-09-17 16:15] #178 closed

[2015-09-17 16:31] jread-usgs commented on #159
Question for the group. In general, should Modeled be on top and Observed be on bottom? @dzrobert

[2015-09-17 17:37] jread-usgs commented on #159
current plots:
![image](https://cloud.githubusercontent.com/assets/2349007/9941132/e6e48820-5d38-11e5-928a-a2530d5b5cd4.png)

[2015-09-17 17:38] eread-usgs commented on #159
@jread-usgs @dzrobert I think the way it is shown, with observed on top and modeled on the bottom, is a good way to do it.

[2015-09-17 17:39] jread-usgs commented on #159
OK, we'll stick with that unless I hear objections.

[2015-09-17 17:52] jread-usgs commented on #159
Also, another thing to note here is that the `modeled` is sampled to match the time points sampled in `observed` (so it is artificially coarser in time than the actual sim). This is different than the way it was done in the past, where the model plot was daily for the duration of the model run (see earlier fig up top). Issues with this?

[2015-09-17 20:54] jread-usgs commented on #159
@eread-usgs suggests the obs re-sampling should be an argument

[2015-10-20 17:01] hdugan opened #182 "compare aed variables to field?"
Is there a way to calculate RMSE between field and modeled variables, as opposed to using a lakeAnalyzer function?
Example) Compare field data of oxygen to OXY_oxy?

[2015-10-20 17:40] jread-usgs commented on #182
I think this is worth adding, and my efforts here https://github.com/USGS-R/glmtools/pull/179/files should make it simpler.

But short answer, no this doesn't exist, but I think I can get something workable for you quickly

[2015-10-20 19:08] jread-usgs commented on #182
@hdugan are you converting your field Oxy data to use the same units as AED output?

[2015-10-20 19:12] hdugan commented on #182
I've been using a homemade resample_to_field function that allows me to input a unit conversion

[2015-10-20 19:14] jread-usgs commented on #182
ok. It would be nice if resample_to_field wasn't so locked into water temps

[2015-11-06 18:25] TomLeeyuli opened #183 "plot_temp_compare() in NYC reservoirs"
When I use plot_temp_compare () to plot temperature variable in NYC reservoirs, I have got a weird result (attached). It seems the the reservoir water surface at the bottom.  May I ask you what I should do to correct the plot_temp_compare () result?
![temperature](https://cloud.githubusercontent.com/assets/11527792/11005081/cbdd2690-8489-11e5-8cb8-f1551307546d.png)

[2015-11-09 16:10] jread-usgs commented on #183
plot times not the same...

[2015-11-09 16:15] TomLeeyuli commented on #183
Yes, you are right. When I use plot_temp_compare(), it produces the x-axis in different times. This is another problem.

[2015-11-09 16:19] jread-usgs commented on #183
what version of glmtools are you using?

[2015-11-09 16:31] TomLeeyuli commented on #183
Documentation for package ‘glmtools’ version 0.10.1

[2015-11-09 16:32] jread-usgs commented on #183
Can you update to the current version (0.10.2) and paste your figure in here? It may not change, but I want to make sure we are starting from the same version of the package.

[2015-11-09 16:35] TomLeeyuli commented on #183
OK!

[2015-12-29 22:04] lawinslow commented on #183
Cleaning up old issues. Re-open if still an issue.

[2015-12-29 22:04] #183 closed

[2016-01-13 05:44] perovskite13 opened #187 "compare_to_field function error"
I had trouble using compare_to_field function from glmtools package.
Referring to the sample code, I have gave "nc_file" a string path to "output.nc" and "field_file" a string path to "my_field_data.tsv". I had also formatted "my_field_data.tsv" to proper column headings accordingly : DateTime, Depth, wTemp.

Nevertheless, I still have trouble returning the overall RMSE value of water temperature

[2016-01-13 13:53] jread-usgs commented on #187
Thanks @perovskite13 . This function doesn't do much validation on the files coming in, so the error isn't very helpful. Would you mind emailing me at jread@usgs.gov and sending the .tsv so I can try it out? I will document progress on this issue, but email is probably best for the file if you are willing to share.

[2016-01-14 14:02] jread-usgs commented on #187
Hi @perovskite13 I am not sure if this is the only issue, but it definitely is a start:
![image](https://cloud.githubusercontent.com/assets/2349007/12326196/e3a449ac-ba94-11e5-9566-c8df86724cc6.png)

The file has the row index, and it should not be there. So instead, format the file as:
![image](https://cloud.githubusercontent.com/assets/2349007/12326202/f8914464-ba94-11e5-9a66-9b8d0e51dfd8.png)

[2016-01-14 23:40] perovskite13 commented on #187
Thank you very much for your reply. Unfortunately, I think that is not the only issue. I have done changes and wrote :
write.table(uniqueLBG,"LBG507_temp_depth_field.tsv", quote = FALSE, sep='\t', row.names = FALSE)

Nevertheless, I received warnings below, which I'm not sure whether they are the reasons that affect the function. I also wonder why I kept receiving error messages for "timezone" eve

[2016-01-15 00:21] perovskite13 commented on #187
For your information, if this is relevant, I'm using 64-bit R 3.2.2 platform on 64-bit Windows, and downloaded 32-bit GLM.

Thanks!

[2016-01-15 17:42] jread-usgs opened #188 "ncdf not on CRAN anymore"
for starters, the current version of the package requires that this be done before install:
[code]

[2016-01-18 15:21] lawinslow commented on #188
changes merged in, closing for now unless further issues arise.

[2016-01-18 15:21] #188 closed

[2016-01-19 01:09] perovskite13 commented on #187
UPDATE : The memory allocation error turns out to be the lack of RAM. I had re-run the similar steps with a new R project and with minimal program running to allocate more memory spaces. The error message about memory allocation error disappears, but there are still error messages about "timezone error". The function still did not return any value as well.

I hope you can enlighten me on this issu

[2016-01-19 13:53] jread-usgs commented on #187
Thanks @perovskite13 I will look into this further. I was sidetracked by some travel and dealing with this #188 issue.

[2016-01-22 12:32] jread-usgs commented on #187
I think there are two issues here, assuming this is the same issue as was emailed about today. The issue with the timezone, and then an error coming from `pivot_match()` for "duplicate date match". I am going to create a separate issue for the latter.

[2016-01-22 12:33] jread-usgs opened #190 "pivot_match fails with duplicate dates"

[2016-01-22 12:47] jread-usgs commented on #187
This timezone issue is odd, because it does seem that "Etc/GMT-10" is valid:
[code]

but I also don't think this warning causes any actual failure. I set my timezone to it, and see the same warning, but `plot_compar_var` and others work fine, they just have the tz warnings:

[code]
![image](https://cloud.githubusercontent.com/assets/2349007/12510965/5c1dae52-c0d3-11e5-949c-d326e3e9de5a.png)

I get

[2016-01-22 13:51] lawinslow commented on #187
Stupid question, is the timezone just printed wrong in the warning message? Or are there really two hyphens? Might point to the culprit.

[2016-01-22 13:58] jread-usgs commented on #187
yeah, it seems to just be printed wrong in the warning message.

[2016-01-22 15:53] lawinslow commented on #187
Hmmm, do you have a example that reproduces this?

[2016-01-28 16:19] lawinslow opened #192 "Is the gap between the near-surface points and heatmap valid?"
See the dots on the top. Looks worse with other data.

![image](https://cloud.githubusercontent.com/assets/347600/12650437/78261830-c5a8-11e5-8e77-d7550d432582.png)

[2016-01-28 16:19] lawinslow commented on #192
Actually, bottom point is most obvious here. Weird.

[2016-03-10 17:25] KRChristianson opened #195 "changing scale on heat map (thermal profile through time)"
I am trying to compare heat maps of different waters, however, the thermal scale of varying colors changes from map to map, making it difficult to make comparisons. Any ideas on how to be able to set a color scale?

[2016-03-11 20:07] jread-usgs commented on #195
I like this idea, and I think it should be supported.

I would suggest adding an additional argument to the heatmap functions that lets you pass in a range. Right now I think you can specify a palette, but the range is auto-calculated, which is a bit limiting.

[2016-03-14 14:40] jread-usgs commented on #195
working on a pull request for this. But it is just for `plot_temp_compare` `and plot_var_compare` for now. Are you using `plot_var`?

![image](https://cloud.githubusercontent.com/assets/2349007/13747954/b0029abe-e9c8-11e5-948e-19e256cad721.png)

### Syntax
[code]

This will lock the color range to 3.5-35°C

[2016-03-14 15:15] #195 closed

[2016-03-14 19:42] KRChristianson commented on #195
Thanks.
I am getting an error that states col_lim is not a graphical parameter

On Mon, Mar 14, 2016 at 9:15 AM, Luke Winslow <notifications@github.com>
wrote:

--
*Kyle Christianson*
PhD Student
NSF I-WATER Fellow
Department of Fish, Wildlife and Conservation Biology
1474 Campus Delivery
Colorado State University
Fort Collins, CO 80523-1474
kchrist@rams.colostate.edu
701-361-6790

[2016-03-14 19:45] jread-usgs commented on #195
I think you will need to update the package @KRChristianson

[code]
does that work for you?

[2016-03-14 20:18] KRChristianson commented on #195
I received the following error: Error in loadNamespace(j <- i[[1L]],
c(lib.loc, .libPaths()), versionCheck = vI[[j]]) :
  there is no package called ‘sp’

On Mon, Mar 14, 2016 at 1:45 PM, Jordan S Read <notifications@github.com>
wrote:

--
*Kyle Christianson*
PhD Student
NSF I-WATER Fellow
Department of Fish, Wildlife and Conservation Biology
1474 Campus Delivery
Colorado State University
Fort Col

[2016-03-14 20:20] jread-usgs commented on #195
You had that error with this command?
[code]

if you don't have devtools, can you install it w/ `install.packages('devtools')`?

[2016-03-14 20:22] lawinslow commented on #195
I've gotten that before. It's sometimes useful to restart R and force the `sp` package install.

[code]

[2016-03-14 20:23] jread-usgs commented on #195
yeah, but `glmtools` doesn't use `sp`, right?

[2016-03-14 20:28] KRChristianson commented on #195
That worked! Many thanks! I am still working on learning the workings of
R...

On Mon, Mar 14, 2016 at 2:23 PM, Jordan S Read <notifications@github.com>
wrote:

--
*Kyle Christianson*
PhD Student
NSF I-WATER Fellow
Department of Fish, Wildlife and Conservation Biology
1474 Campus Delivery
Colorado State University
Fort Collins, CO 80523-1474
kchrist@rams.colostate.edu
701-361-6790

[2016-03-14 20:28] lawinslow commented on #195
No, but for whatever reason, I've run into that *exact* thing on various packages.

[2016-03-14 20:29] jread-usgs commented on #195
weird. Haven't hit that one. Keep us posted as to how that new `col_lim` thing works @KRChristianson

[2016-03-24 12:04] jread-usgs opened #197 "sim_vars spits out factors..."
:-1:
[code]

should use `stringsAsFactors=FALSE`

[2016-03-24 12:07] jread-usgs opened #198 ".is_heatmap returns true if the var isn't there"
[code]

[2016-03-24 15:51] #197 closed

[2016-03-24 15:51] #198 closed

[2016-03-27 00:04] jread-usgs commented on #159
I think this is done as it exists in `plot_var_compare()`

[2016-03-27 00:04] #159 closed

[2016-03-27 12:05] jread-usgs opened #201 "issue with plot_temp losing col_lim"
@lawinslow I wasn't able to reproduce your issue w/

[code]
erring due to no col_lim (v 0.13.2). can you check again and post here the code that caused it?

[2016-03-27 12:18] #176 closed

[2016-03-27 12:19] jread-usgs commented on #182
as per convos in our last `glmtools`/`GLMr` workshop, it might be worth trying a function that adds the conversion as a new netcdf variable, so all of the `_var` functions would work.

[2016-03-27 13:01] jread-usgs opened #202 "Create conversion function for aed or glm variables"
Related to #182, but this is more basic: Provide a way for users to do simple conversions of the output of the model.

One example is output temperature in °F, or DO in mg/L.

Using @jiwalker-usgs 's suggestion to just add them to the netcdf file, this would make them usable by all of the tools that generically work on `sim_vars`, such as `plot_var_compare`, `plot_var`, etc.

[2016-03-27 13:29] lawinslow commented on #201
It was probably just a fluke then. Maybe a weird version I'd installed to test a PR or who knows.

[2016-03-27 13:29] #201 closed

[2016-03-27 22:12] jread-usgs commented on #150
I think it has it now (v0.13.1)?
[code]
![image](https://cloud.githubusercontent.com/assets/2349007/14068126/115730d8-f43f-11e5-9e4d-3c587d221edd.png)

[2016-03-27 22:12] #150 closed

[2016-03-27 22:14] jread-usgs commented on #142
Luke changed something in a recent PR related to `rLakeAnalyzer` that fixed this as far as I can tell.
[code]

[2016-03-27 22:14] #142 closed

[2016-03-27 22:20] jread-usgs commented on #182
with #205 we are most of the way there, but
[code]
doesn't do anything generic with `metric`, instead it requires it to be a function that is similar to `rLakeAnalyzer` or a function in that package. It you give the name of the var as `metric`, it would be nice to have this just do a straight up pass through of the variable for `as_value` or RMSE in the units of the variable. The way it is now, th

[2016-03-28 15:36] #202 closed

[2016-03-28 15:39] lawinslow commented on #182
We could default metric to `value` or something like that that's just a straight pass-through? `water.temperature` is clearly weird.

[2016-03-28 17:33] jread-usgs opened #206 "update readme for v0.14.0+"
The function list and package requirements are now out of date. Shouldn't be too much work to get that updated.

[2016-03-28 17:57] jread-usgs commented on #187
@perovskite13 can you let us know what version of R you are using for this?

[2016-03-29 17:57] jread-usgs commented on #192
@lawinslow did you want to take this on, or tag as help wanted?

[2016-04-07 12:23] jread-usgs commented on #182
I like using `"value"`. It fits too w/ `as_value` too

[2016-05-02 16:44] lawinslow commented on #192
Answer was nope. Fixed.

[2016-05-02 16:44] #192 closed

[2016-05-05 19:32] jread-usgs opened #208 "add SP example data to package"
if we end up using the glmtools appendix for Matt's paper, we should update the package's example data. I figured it would be better to use an example lake that had more study data (and better Kd data).

[2016-05-06 14:14] jread-usgs commented on #130
I get this error when GLM segfaults and I try to read the empty nc

[2016-05-06 14:16] lawinslow commented on #130
Probably a very malformed NC file where file header says data should be there, but there is no such data. Such an error is to be expected.

[2016-05-06 14:17] lawinslow commented on #130
Were you able to create a reproducible example of the segfaults?

[2016-05-06 14:18] jread-usgs commented on #130
they are more random than being fully reproducible, but I came up with some conditions that make them very common. I think this is a mac thing if you haven't seen it w/ nix.

[2016-05-18 12:34] hdugan opened #209 "plot_var with convert_sim_var"
Trying to make new O2 variable with units in mg/L. Conversion seems to work fine, but plotting does not. Might be an NA error?

[code]

[2016-05-18 12:40] jread-usgs commented on #209
Possible to share an nml I can use to set up an AED sim? I don't have one handy

[2016-05-18 13:37] hdugan commented on #209
Indeed. Emailing one.

[2016-05-18 15:43] jread-usgs commented on #209
@lawinslow for some reason `rLakeAnalyzer::get.offsets()` doesn't do well with
[code]
Want to take the issue over there, or handle it in `glmtools` by not using that function from rLA?

[2016-05-18 15:47] jread-usgs commented on #209
@hdugan looks like this is a bug and we should fix it, but here is a workaround:

the function that parses the depth doesn't like numbers in the header name that aren't related to the depth, so it was failing because of the `2` in `O2_2.342525`etc. If you use a name that have a number in it, it works:

[code]

![image](https://cloud.githubusercontent.com/assets/2349007/15365462/f1468490-1ce5-11e6-

[2016-05-18 15:49] jread-usgs opened #210 "some variable names from nc can't be parsed into depths. causes plotting issues"
This is covered in #209

but we should either fail w/ a nice error when the name isn't something we can handle w/ the parsing for depth, or allow more names w/ the parsing function.

Also, need some test(s) for this.

[2016-05-18 15:49] jread-usgs commented on #209
see #210 for the bug issue for this.

[2016-05-18 15:49] #209 closed

[2016-05-18 16:22] lawinslow commented on #210
If we can assume that all variables and depths will be separated by `_` and that no variable name has an underscore in it, then it would be easy to fix parsing depth. Current strategy looks for numeric portion of the header because the old Matlab version didn't have an underscore and instead used 'temp#.#' as the header.

[2016-05-18 16:33] jread-usgs commented on #210
No, I don't think we can make that assumption as the default AED DO variable is `"OXY_oxy_0"`

In order to support the legacy format, we could use two different parsers - one if there is an underscore in the headers (simpler on that splits on '_' and takes the last element) and the more complex one that is in place now for headers that don't have '_'.

What do you think? also, in `glmtools` or `rL

[2016-05-18 16:45] lawinslow commented on #210
Hmm, good point. To just look for the last `_` kinda bothers me, but not necessarily enough to maybe just go with it. Unless we wanted to decide on something completely different to obviate this issue (`:` perhaps?). Alternatively, maybe glmtools and rLA just need a more complete data structure that better captures this nuance and allows for more robust communication across function calls.

[2016-05-18 17:35] hdugan commented on #209
Thank you!!

[2016-05-18 17:46] jread-usgs commented on #210
I would think that within `glmtools`, we could probably make a painless switch to `:` since the parsing/splitting is done internally and I don't think people are writing the sim data.frames to file (maybe I am wrong?) but we should probably continue to support the matlab LA, the `_` delimited too

[2016-05-18 17:47] jread-usgs commented on #210
This is maybe more pressing than expected, because some of the existing vars have numerics in them: `SDF_Fsed_ch4` is one example from AED. I am going to rename this issue

[2016-05-18 17:50] lawinslow commented on #210
Yeah, so numerics in the names definitely need to be handled. rLA could be updated to handle temp:##.# pretty easily and could be backwards compatible (if have `:`, use it, if have `_`, use that, if none of above, assume `temp##.#`).

Ok, second thought, `:` is, I think, no-go. being converted to `.` when I try it in data.frame.

[2016-05-18 17:54] jread-usgs commented on #210
stick w/ `_`?

[2016-05-18 18:00] lawinslow commented on #210
yeah, we have to. We've pretty much got `.` or `_` to work with

[2016-05-18 18:01] lawinslow commented on #210
didn't realize the naming was quite so restrictive. Dug into R source, it is. The more you know.

[2016-05-18 18:03] jread-usgs commented on #210
want to do it in rLA then?

[2016-05-18 18:07] lawinslow commented on #210
Any numeric characters after the *last* `_` are depth. Everything before the last `_` is variable name. If there is no `_`, assume the variable is temp##.#. Sound good? This is as easy as a change to get.offsets in rLA.

[2016-05-18 18:10] jread-usgs commented on #210
yep :+1:

[2016-05-23 14:10] jread-usgs commented on #209
@hdugan if you update `rLakeAnalyzer` (the new version is on CRAN), your naming convention should work. @lawinslow changed the way that packaged deals with the names.

[2016-05-23 14:11] jread-usgs commented on #210
fixed in https://github.com/GLEON/rLakeAnalyzer/pull/65, but should we up the rLA version requirement in `glmtools`' DESCRIPTION to reflect it? If not, we can close this out.

[2016-05-23 22:44] jread-usgs commented on #210
closed via #211

[2016-05-23 22:44] #210 closed

[2016-05-23 22:44] jread-usgs commented on #208
I think we are going to change this to Sparkling Lake.

[2016-05-26 19:16] #168 closed

[2016-07-27 16:55] hdugan opened #213 "Outflow errors"
Has anyone ever run into errors incorporating outflow files into a GLM (no AED) run?
I'm trying to use multiple outflows, and I get a
`Floating outflow (###) above surface or deeper than lake depth (51.3)`
My outlet elevations are well within the bounds of the lake. Any ideas? Runs fine if I turn off all of the outflows.

[2016-07-27 17:01] lawinslow commented on #213
latest GLM version? Could you post the text of your NML file?

[2016-07-27 18:00] hdugan commented on #213
[code]

[2016-07-27 18:13] lawinslow commented on #213
I think that if you're using a floating outflow, you need to use surface relative elevations.
https://github.com/AquaticEcoDynamics/GLM/blob/c3617152f504cfd9fe84e67867d4cb9e8a6d1296/src/glm_init.c#L735

so outl_elvs needs to be between 0 and max depth (or something like that)

[2016-07-27 18:15] hdugan commented on #213
Ahhh. Is that what `flt_off_sw` is?

[2016-07-27 18:19] lawinslow commented on #213
Yup.

[2016-07-27 18:36] hdugan commented on #213
Thanks as always Luke!

[2016-08-29 17:04] #213 closed

[2016-08-29 17:07] hdugan opened #214 "Plot_var reference"
In `plot_var` settings, setting `reference='bottom'` flips heat map, but keeps the surface of the lake at 0. Should `reference='bottom'` instead keep the heat map as is, but let the surface elevation fluctuate?

Example of  `reference='bottom'`
![image](https://cloud.githubusercontent.com/assets/5639032/18059951/27b0e858-6de1-11e6-8e9b-a6ebad3c2906.png)

[2016-08-29 17:23] lawinslow commented on #214
yeah, but I don't think `plot_var` was actually written to plot bottom-reference data well. Hence the issue you see here. It needs to be overhauled a bit to support bottom-reference out of the box.

[2016-11-08 18:17] hdugan opened #217 "Problems installing glmtools with R 3.3.2"
Hey,
The newest R release 3.3.2 is out, and we're having trouble installing glmtools.
Wondering if this is a problem on our end or not. Asking because Julia is using glm for teaching a lab in ~1 hour :)

Thanks!

[2016-11-08 18:20] jread-usgs commented on #217
What is the error? Have you tried installing from source? Is it glmr or glmtools? Am traveling right now but call me and I can help from the road.

[2016-11-08 18:20] lawinslow commented on #217
What's the error and platform? Is GLMr installed?

[2016-11-08 18:25] hdugan commented on #217
She is running Windows 7 (I think)
R version 3.3.2

`install.packages('glmtools',repos=c('http://owi.usgs.gov/R')`
Error:
[code]
The error repeats itself a number of times
same error for GLMr

[2016-11-08 18:26] hdugan commented on #217
Works fine for me with R 3.3.1 on Windows 7

[2016-11-08 18:33] lawinslow commented on #217
Try:
`install.packages('glmtools',repos=c('https://owi.usgs.gov/R')`

[2016-11-08 18:34] jhart6 commented on #217
That one unfortunately produces the same error.

[2016-11-08 18:35] lawinslow commented on #217
Using RStudio?

[2016-11-08 18:35] jhart6 commented on #217
Yes

[2016-11-08 18:36] lawinslow commented on #217
Try this
http://stackoverflow.com/questions/22721819/download-file-fails-in-rstudio

[2016-11-08 18:40] jhart6 commented on #217
Okay, so I unchecked the internet box, still producing the same error.

[2016-11-08 18:45] lawinslow commented on #217
Not sure then. Maybe [downgrade to known working version](https://cran.r-project.org/bin/windows/base/old/) for now. You could also try the devtools install though I suspect that will also fail.

[code]

[2016-11-14 14:35] jread-usgs commented on #217
@hdugan any resolution here?

[2016-11-14 14:42] jread-usgs commented on #217
This works fine for me on mac w/ newest versions of R and RStudio.

[2016-11-14 14:43] perovskite13 opened #218 "Adjusting temperature plotting range"
Is there a way to adjust the temperature plotting range? I wish to plot the temperature contour plot from 12 to 24 degree, but I wonder whether which script I should adjust in order to do that :)

Ideally, I wish to have the graduated colour from light purple to red, but also with narrower range from 12 to 24 degree. Any tips or advice would be much appreciated! Thank you!

[2016-11-14 14:47] hdugan commented on #217
@jhart6 what was the final verdict on this?

[2016-11-14 16:40] jhart6 commented on #217
Thanks for all of your help trying to resolve this so quickly! We still ran into that error all of last week, which eliminated many of the students from being able to run GLM on their personal computers with the latest R release.  Although another one my TA's had success like you, @jread-usgs. So seemed a little hit or miss.  I haven't tried this week. I'm still running 3.3.1 on my macbook.

[2016-11-14 17:06] jread-usgs commented on #218
@perovskite13 part of this should be possible with the `col_lim` argument that is in `plot_var`, `plot_temp`, and `plot_var_compare`.

That variable takes a vector of length two, so the syntax would look like:

[code]

these functions don't let you specify the type of color gradient used, so the second part of your request is not possible at this time.

[2016-11-23 21:28] wdwatkins opened #220 "https changeover"
Found these lines with http .gov URLs using https://github.com/wdwatkins/gran_http_gov

HTTPS is supposed be available for everything by the end of December, but may not be yet.

Some of these URLs in .md and other documentation files won't show up on github unless you go to the raw file. Line numbers reference the number in the raw file when opened in a text editor, so the link may not point you

[2017-01-11 20:42] jread-usgs opened #221 "convert_sim_var fails when there are numbers in the name of the variable"
[code]

[2017-01-11 21:10] jread-usgs opened #223 "Add option for NSE in compare_to_field"

[2017-01-11 21:11] jread-usgs opened #224 "more generic comparisons in compare to field for RMSE for other vars"
very temperature focused right now.

[2017-01-11 21:12] jread-usgs commented on #224
if metric is missing, do the pass through (like `water.temperature` does now)

[2017-01-11 21:53] #221 closed

[2017-01-22 20:12] hdugan opened #226 "read_nml & set_nml with repeated logical values"
I'm running a sim where I have 3 outflows. My working glm2.nml setup looks like this:

[code]

When I use `read_nml('glm2.nml')`, it reads `flt_off_sw` as a single FALSE value rather than 3. Also, I can't use `set_nml` to write 3 false values. If there is only one false value, as below, GLM crashes.

[code]
So basically I can't use a workflow which involves reading and writing a `glm2.nml` file wh

[2017-01-23 02:44] jread-usgs commented on #226
that's no good @hdugan ... Bummer. I was not considering the case where there would be multiple booleans.

Would you mind emailing me your nml file so I can give it a shot?

[2017-01-23 14:15] hdugan commented on #226
On it's way!

[2017-01-25 14:25] jread-usgs commented on #226
@hdugan I can't get to this quite yet, but a workaround for the time being:

[code]
is that helpful as a bandaid?

[2017-01-25 14:49] hdugan commented on #226
That's incredibly helpful! Thanks @jread-usgs

[2017-01-26 15:53] jread-usgs commented on #226
I still plan on working up a fix, but am traveling this week.

[2017-02-10 21:28] jread-usgs commented on #226
#227

[2017-02-10 21:28] #226 closed

[2017-06-09 14:50] jsta opened #228 "Package cleanup"
I plan on submitting a PR with changes similar to those discussed at:
https://github.com/GLEON/GLMr/issues/113

[2017-06-09 14:52] jsta commented on #228
One thing I notice right away is that very few (none?) of the examples are set to `dontrun`. This makes running `devtools::check()` very slow. What do think about setting `dontrun` on some of them?

[2017-06-09 14:54] lawinslow commented on #228
But having them run means they actually act as a verification that the package is not broken.

[2017-06-09 15:07] jsta commented on #228
Hmm, I wonder if there is a way to make things faster then without `dontrun`. I notice that all of the examples have the line:

`sim_folder <- run_example_sim(verbose = FALSE)`

Maybe moving package verification to `tests` would allow this line to be run only once (or at least fewer times) during checking?

[2017-06-09 15:27] lawinslow commented on #228
I have no issue moving things into testthat, but @jread-usgs is jury and judge for this package, so it's primarily up to him

[2017-06-09 20:56] jsta commented on #206
I think the function list can be automated with [printr](https://github.com/yihui/printr) if the README is turned into an Rmd with the following series of chunks:

[code]

[code]

[code]

[2017-06-09 21:03] jread-usgs commented on #206
Neat! I didn't know that was a thing

[2017-06-12 13:45] jsta commented on #206
Can use https://github.com/r-lib/desc to automate package requirements.

[2017-06-12 14:27] jsta commented on #206
This will do it without the dependency:

[code]
[code]

[2017-06-12 15:11] jsta commented on #228
I found out that the following command will run `check` without executing the examples:

[code]

[2017-06-12 16:38] jsta opened #230 "setup_example_sim"
I think a function that executes only the file handling portion of `run_example_sim` would be very useful. I propose a `setup_example_sim` function.

[2017-06-12 16:39] jsta commented on #230
This could also be implemented as an argument to `run_example_sim`.

[2017-06-12 16:55] jsta opened #231 "Wrapper for `run_glm` to override nml settings without writing a new nml"
I could see some utility in being able to override nml settings without manually writing a new nml file. Then you wouldn't have so many nml files cluttering up the working directory. One way this could work is to:

* copy the existing nml file to a tempfile
* overwrite the specified portion of the nml file with `write_nml`
* redirecting `run_glm` to the modified file

`run_glm(sim_folder = ".", ..

[2017-06-12 18:27] lawinslow commented on #231
Hmm, interesting idea. To keep the dependencies simple, it might be better to create a function in `glmtools` that takes an NML object, writes it, and then runs GLM against it. Maybe `run_nml`. That function would live in `glmtools` and wrap write_nml, set_nml, and run_glm. That would prevent us from having a dependency point GLMr -> glmtools.

`run_nml(nml, run_dir=',', ...)`

Maybe with `...` pa

[2017-06-12 18:28] lawinslow commented on #230
What's the use-case you're thinking about?

[2017-06-12 19:52] jsta commented on #230
I am thinking of workflows that:

* start with entering the file system and manually copying files from `nml_template_path()`
* inspecting the nml and possibly changing values
* executing `run_glm`

A `setup_example_sim` function would simplify step 1 while allowing step 2 to occur before step 3.

[2017-06-12 21:56] jread-usgs commented on #231
Yeah, I've always wanted something like that too...

[2017-06-13 14:26] #228 closed

[2017-06-13 14:51] lawinslow commented on #206
I think we can close this now, right?

[2017-06-13 15:32] jsta opened #233 "Add file argument to get_nml_value"
I am thinking that it would be useful to add a `file` argument to `get_nml_value` similar to the other `get_*` functions.

[2017-06-13 15:33] lawinslow commented on #233
So it would operate directly on a file instead of a loaded nml object?

[2017-06-13 15:37] jsta commented on #233
I think either-or. Consider this block from `get_hypsography`

[code]

[2017-06-14 18:41] lawinslow commented on #233
Would it then also overwrite the old original file as well? Basically,

[code]

[2017-06-14 20:02] jsta commented on #233
I don't follow. Why would `get_nml_value` be doing things to `glm_nml`? My understanding was that it simply retrieved values for inspection unchanged. Are you thinking of a function that would combine an nml file and and local nml object and write a new nml file (aka "`combine_nml`")?

[2017-06-14 20:40] lawinslow commented on #233
Ah yeah, ignore that. For some reason I was thinking about a function that muted the file in place. Like we were talking about `set_nml`.

That being said, wouldn't it make sense to implement the parallel version in `set_nml`? A file could be specified and it would overwrite the NML with a new one with the new variable set. This would eliminate alot of code that reads, alters, then writes NML file

[2017-06-20 16:13] jsta opened #234 "Difficuly parsing nml files with inline comments"
I am getting some errors parsing `nml` files with inline comments. Consider this:

[code]

   v_cmt_inline = 123, 456, 789
   v_cmt_in_str = 'Thistoken'
   v_cmt_after_str = 'This'
/
[code]

  no hanging lines allowed in .nml, used 789.
See line number:4 in "&comment_nml" section.

Before I tackle this, I wonder if it would be a good idea to port the nml parsing to a separate package. I see that n

[2017-06-20 16:27] lawinslow commented on #234
Hmm, maybe. Maybe it warrants a broader search too. Maybe there an R implementation of an NML parser already? If not, one could pull it out, but I'm a little hesitant without someone knocking on our door with a non-GLM use-case.

[2017-06-20 16:49] jsta commented on #234
I'll just say for posterity that I found one other nml parser but its in clojure/java :frowning:
https://github.com/maddenp/nml

[2017-06-20 21:25] wdwatkins opened #235 "plot_meteo paths"
Something weird seems to be happening with the path created:
![image](https://user-images.githubusercontent.com/13987349/27356673-fee5759c-55d4-11e7-83d2-07bb33aa3913.png)
It is appending the temp directory path to the argument given.

[2017-07-11 17:10] jsta commented on #233
I am about to submit a PR with this ability added. I was thinking only of reading values not of writing or setting.

I think what you are talking about is more along the lines of #231?

[2017-07-11 20:18] jsta opened #237 "nml parsing breaks if first list element is negated"
A block with the first list element negated with `!` breaks `read_nml`:

[code]

[2017-07-12 12:23] lawinslow commented on #233
My vote is to parallel this functionality in the `set_nml` function. But I'll leave this up to @jread-usgs if he wants to merge the PR as-is.

[2017-07-12 14:09] jread-usgs commented on #233
Awesome work @jsta
I agree w/ Luke that it would be best to parallel this, but in a different PR if possible. I haven't been able to review (in all-day meetings), but will soon.

[2017-07-15 12:15] jread-usgs commented on #233
Yes, I like this idea, and like the parallel idea @lawinslow proposed for `set_nml`

[2017-07-31 18:58] ldecicco-USGS opened #238 "Add package category to readme"
We're trying to categorize all the USGS-R packages, as described here:
https://owi.usgs.gov/R/packages.html

I'd recommend this package as "Research" (or "Support"?). When you decide what you think this package could be, add a badge to your readme:

[![status](https://img.shields.io/badge/USGS-Research-blue.svg)](https://owi.usgs.gov/R/packages.html#research)

or

[![status](https://img.shields.io

[2018-02-08 13:30] dvalenciaca opened #239 "Change the color palette of the heat map"
The owner of this repository, @jread-usgs wrote in a comment

I've been tried to change the palette unsuccessfully, e.g. [https://stackoverflow.com/questions/48668965/how-to-change-the-color-palette-of-a-plot-using-r-and-par-command](url).

I'd like to know how can I change the color palette?

`sim_folder <- run_example_sim(verbose = FALSE)`
`nc_file <- file.path(sim_folder, 'output.nc')`
`plot_te

[2018-02-08 14:56] AnaAlicia commented on #187
Hi,  good evening! I'm trying to using "compare_to_field" function but it's showing this warning message:
In time_precision(df$DateTime, precision) :
  days precision resulted in duplicate date values

Could you help me solve this, please?

Thank you so much in advance!
Have a nice day.

[2018-02-08 18:02] lawinslow commented on #187
Does your field data field data file have duplicate date/time values?

[2018-02-08 18:28] AnaAlicia commented on #187
Yes, but different depths. Is it ok?

[2018-02-08 18:32] lawinslow commented on #187
Yes. It's unclear what is wrong then. Please submit an example here that re-creates the problem you are having. That way we can re-create it on our and and determine the problem.

[2018-02-08 18:38] lawinslow commented on #239
@dvalenciaca Try the current development version. I just pushed some changes that exposes the palette option on `plot_var`. There is an example of an alternative palette in the examples for that function.

`devtools::install_github('USGS-R/glmtools')

[2018-03-02 17:09] AnaAlicia opened #241 "Issue modeling the maximum lake depth"
Good evening,

I'm having issue modeling the maximum lake depth. GLM is showing it as 19m, is it a default value or is it something in my database?
I would like to know how can I change it to 30m.

Thank you,

Ana
![image](https://user-images.githubusercontent.com/25253979/36911741-3cd9e592-1e23-11e8-9cb9-964dfe586221.png)

[2018-03-02 17:19] jread-usgs commented on #241
@AnaAlicia it is something specified in your .nml file. Change the "H" values in `&morphometry` to specify the morphometry of your lake.

[2018-03-02 20:05] AnaAlicia commented on #241
Hey @jread-usgs

 I've already changed the 'H' and 'A' values. But nothing changed.

Take a look, please.

H | A
-- | --
1013 | 101900
1014 | 220200
1015 | 466400
1016 | 1022800
1017 | 1591800
1018 | 2195200
1019 | 2736800
1020 | 3364000
1021 | 4129400
1022 | 4942100
1023 | 5841000
1024 | 6708000
1025 | 7403300
1026 | 8253400
1027 | 9171100
1028 | 10234900
1029 | 11412300
1030 | 12553400
1031 | 13

[2018-03-02 20:10] jread-usgs commented on #241
adjust
`lake_depth` in `&init_profiles`

[2018-03-02 20:20] AnaAlicia commented on #241
I've already changed lake_depth values. But nothing changed.

&init_profiles
    lake_depth  = 30.0

[2018-03-02 20:26] jread-usgs commented on #241
and `the_depths`?

[2018-03-02 20:49] AnaAlicia commented on #241
&init_profiles
    lake_depth  = 30.0
    num_depths  = 6
    the_depths  = 0,1,5,10,15,29
    ! GLM
    the_temps   = 24.00,23.90,23.50,23.40,22.80,22.50
    the_sals    = 0.01, 0.01, 0.01, 0.01, 0.01, 0.01

[2018-03-02 20:49] jread-usgs commented on #241
and your model output is identical before the change?

[2018-03-02 20:59] AnaAlicia commented on #241
![image](https://user-images.githubusercontent.com/25253979/36921484-514f80fc-1e43-11e8-8b30-e43c75f9c2a4.png)
Yes

[2018-03-02 21:03] jread-usgs commented on #241
can you paste the image of
`plot_temp()` before you make the changes and then another image from
`plot_temp()` after you make the changes?

[2018-03-02 21:07] AnaAlicia commented on #241
Yes, hold on, please.

[2018-03-02 21:19] AnaAlicia commented on #241
before (using default values)
![image](https://user-images.githubusercontent.com/25253979/36922315-260f0db0-1e46-11e8-9514-f6e062db9ae5.png)

after
![image](https://user-images.githubusercontent.com/25253979/36922172-c2c8fe32-1e45-11e8-873b-778e68f25883.png)

[2018-03-02 22:08] jread-usgs commented on #241
in both screenshots, the modified date and time for the glm2.nml file is today at 5:50. did you make the change to that file? Also, the "before" shot's clock appears to be later than the after one.

Try to do this w/ only altering the depth-related variables and re-send if you can.

[2018-03-02 23:24] AnaAlicia commented on #241
yes! Take a look again, please.

before
![image](https://user-images.githubusercontent.com/25253979/36926554-421c36b6-1e57-11e8-8e25-06ad31e20a94.png)
after
![Uploading image.png…]()

[2018-03-02 23:27] AnaAlicia commented on #241
Yes! Take a look again, please.

before
![image](https://user-images.githubusercontent.com/25253979/36926718-f4ab8462-1e57-11e8-82fc-f80c4c9f84bf.png)
after
![image](https://user-images.githubusercontent.com/25253979/36926740-0cc7eca2-1e58-11e8-8a54-0125e978d55c.png)

[2018-03-03 00:59] jread-usgs commented on #241
Ok. Please email your glm2.nml file to me

[2018-03-03 00:59] jread-usgs commented on #241
At jread@usgs.gov

[2018-03-03 17:40] jread-usgs commented on #241
@AnaAlicia

Note this is a GLM question, and `glmtools` is really just a package that helps you change parameters and evaluate the model. It doesn't tell you what those parameters mean and assumes you have that understanding from the GLM manual or elsewhere.

Here is the solution - and it requires only modifying the `lake_depth` and the `H` values, as mentioned above:

load the packages that help

[2018-03-05 21:13] AnaAlicia commented on #241
I'm having issue modeling the maximum lake depth again.

Take a look, please.

nDays 20060060 timestep 3600.000000
Maximum lake depth is 752.000000

Reading config from glm2.nml
No WQ config
Configuration Error. MaxLayers * max_layer_height < depth of the lake
[1] 1

[2018-03-05 21:17] jread-usgs commented on #241
@AnaAlicia please ask the GLM help. This doesn't seem to be a glmtools issue. But I would suggest increasing the value in `MaxLayers` param, or the `max_layer_height`.

[2018-03-05 21:25] AnaAlicia commented on #241
thanks

[2018-04-04 14:24] jsta commented on #237
This can be read into R with the `f90nml` python package and the `reticulate` bridge. See https://github.com/USGS-R/glmtools/issues/234#issuecomment-378617598

[2018-04-04 14:24] #237 closed

[2018-06-11 20:57] Taynarafernandes42 opened #242 "Neverending run_glm"
Hello. I'm having trouble running GLM, the simulation just go on and on and does not end, could someone please help me to check if it's something wrong with my data?

[GLM data.zip](https://github.com/USGS-R/glmtools/files/2091723/GLM.data.zip)

![image](https://user-images.githubusercontent.com/40183251/41256488-1ec55cf4-6da0-11e8-8d3f-d676f03fd920.png)

[2018-06-15 14:32] jread-usgs commented on #242
Hi @Taynarafernandes42 I think this is a GLM question, not a glmtools question, so pointing you to https://groups.google.com/forum/#!categories/aquaticmodelling/glm which I think already has a post w/ this question.

Please do re-open this issue if there is something connected to glmtools

[2018-06-15 14:32] #242 closed

[2018-07-14 12:04] #241 closed

[2018-07-14 12:05] jread-usgs opened #243 "warn instead of error when nml file extension isn't .nml"
instead of:
[code]
could/should we warn?

[2018-07-26 17:53] jread-usgs opened #244 "Additional heatmap plotting method that accepts an appropriately formatted data.frame"
[code]
but we sometimes want to use the plotting functions w/o using the .nc file as the input.

[2018-07-26 20:40] wdwatkins commented on #244
What do you mean by appropriate @jread-usgs? For neural net output, it would be useful to accept long-format data (as opposed to short format that comes out of `get_temp`)

[2018-07-26 20:57] jread-usgs commented on #244
Easier to support the short format (each column is a depth), since sparse data that can appear in long format would require different treatment to plot.

[2018-07-27 11:10] jread-usgs commented on #244
But now that I think about it, `plot_temp_compare` accepts long format data for field observations

[2019-05-28 14:03] jread-usgs commented on #217
I hope that people were able to work around this. Since R 3.6 is now out, I am going to close this issue. If install issues crop up on more recent versions, I think a new issue should be opened.

[2019-05-28 14:03] #217 closed

[2019-05-28 14:05] #238 closed

[2019-05-28 14:06] jread-usgs opened #246 "overhaul plotting code to use ggplot2"
@hdugan your game plan here?

[2019-05-28 14:11] hdugan commented on #246
Yeah working on it. Trying to:
1) Make it more customizable (text size, colors, output format/dimensions)
2) Have a way of plotting just field data.
3) Overall less code - that's a bonus

[2019-05-28 14:13] jread-usgs commented on #246
Good plan. Any interest in adding a way to do https://github.com/USGS-R/glmtools/issues/244 ?

[2019-05-28 14:14] hdugan commented on #246
Yeah - but to check, you mean having a plotting function for just field data?
Would probably be easy enough to accept either long or wide data.

[2019-05-28 14:19] jread-usgs commented on #246
No, I mean being able to plot the output of `get_var()`, which is a data.frame.

Since the .nc files can be huge, I often run into the issue where I throw them away after grabbing what I need.

Also, if we are able to plot off of a data.frame, we'll support other models (e.g., PGRNNs) with the same plotting library. But perhaps your field data plotting will help w/ that.

[2019-05-28 14:19] hdugan commented on #246
Ah gotcha. Good idea.

On Tue, May 28, 2019 at 9:19 AM Jordan S Read <notifications@github.com>
wrote:

[2019-05-28 16:06] dzrobert commented on #246
Hi Hilary,
 I really like plot_temp and plot_temp_compare, so I would prefer you keep
some version of them.  If that means that you can do it in plot _var and
plot_var_compare, that would be fine with me.

Thanks,
Dale

On Tue, May 28, 2019 at 9:41 AM hdugan <notifications@github.com> wrote:

--
Dale M. Robertson, PhD
Research Hydrologist                    Telephone # 608-821-3867
U.S. Geological

[2019-05-28 16:10] jread-usgs commented on #246
Yeah, to second what Dale is saying - if we are going to get rid of those var-specific functions (and I think we probably should), we should deprecate them first, so a user gets a warning that they are going away but they can still use them. Then on a later update, we get rid of them.

[2019-05-28 17:24] hdugan commented on #246
Jordan and Dale,
New versions of `plot_var` and `plot_var_compare` and `plot_meteo` are here on my forked repo. If you want, you could test them, but I think they're working nicely.

Jordan, haven't implemented #244 yet. Maybe it should be a different function since plot_var pulls so much info from the .nc file (surface height, max depth, 3d, units, etc...)

[code]

[2019-06-05 18:41] hdugan commented on #246
Hi all,
If anyone wants to test out some of the updated functions, that would be helpful before a pull request.

Updated functions are:
plot_var_nc (same as plot_var)... both do the same thing
plot_var_df (plotting from a dataframe, re: implementation of #244)
plot_var_compare
plot_meteo
plot_temp and plot_temp_compare (are deprecated)

[2019-06-05 18:42] #239 closed

[2019-06-05 18:43] #214 closed

[2019-06-05 19:03] jread-usgs commented on #239
@hdugan are you closing these issues because there is a solution in place or because they are `wontfix`?

[2019-06-05 19:04] hdugan opened #247 "replace run_example_sim?"
A lot of the example codes rely on `run_example_sim` to create an output.nc file.

Since GLMr is not being maintained, and likely to shift towards running GLM through docker, I suggest we avoid running GLM in glmtools.

Instead we could host a small output.nc file in isnt/extdata
Currently I'm using one that is ~3.5 Mb. (2 day output for ~5 months). Could even make it smaller.

Thoughts?

[2019-06-05 19:11] jread-usgs commented on #247
Yeah, I was kind of wondering if we wanted to discuss making a hard pivot away from GLMr and also align w/ GLM V3 changed by simply creating `glm3tools` as a separate package (w/ a lot or most copied from it).

But perhaps that is a bad idea and would generate unnecessary work.

[2019-06-05 19:24] hdugan commented on #239
Closing it because Luke had fixed it, and because my new code also allows custom color palettes.

[2019-06-05 19:29] hdugan commented on #247
Hmm. Hadn't considered that. Are there major changes between inputs or outputs of GLM V3 and V2?
If not, I think we should stick with the current package. But avoid any actual running of the model. Would be easy to change all of the examples.

We could change GLMr to docker based code. But users would still have to install docker.

[2019-06-05 19:32] jread-usgs commented on #239
Ok - and Luke's dev version is in the master of this repo? It is good that your code addresses it, but it might be preferable to close the issue when the code is in master instead of a fork or branch.

[2019-06-05 19:34] hdugan commented on #239
I thought it was in the master.
There's a palette argument in plot_var
https://github.com/USGS-R/glmtools/blob/master/R/plot_var.R

[2019-06-05 19:38] jread-usgs commented on #239
good deal :+1:

[2019-06-05 20:19] jread-usgs commented on #247
I think the glm3.nml file is different, and not sure about any changes to the .nc file. I haven't tested GLM v3 intput/output w/ current `glmtools`. I think it depends how backwards compatible `glmtools` will remain once we move forward w/ GLM3 and dropping GLMr. I'm not sure about that.

[2019-06-20 16:06] hdugan opened #250 "Example data"
Currently the extdata is from Sparkling Lake.
We talked about putting a small .nc file in the extdata and rewriting the example code.

We could do this for Mendota. @jread-usgs do you have any feelings about replacing the Sparkling Lake data with Mendota files?

[2019-06-20 17:39] jread-usgs commented on #250
fine by me to use either. Go for it :+1:

[2019-07-18 14:45] dzrobert opened #251 "Examining when ice formation and breakup occurs"
I used to use a command:
iceonoff_mod = mda.lakes::get_ice_onoff(ice_data, get_temp(nc_file))
to get ice information

This now gives me the following error:
Error in ice_runs[, "values"] : subscript out of bounds

Anyway to fix this so that I can compare actual and observed freeze and breakup dates?

[2019-07-18 14:58] hdugan commented on #251
I'm not familiar with the mda.lakes package, but does
`get_temp(nc_file)` still work on its own?

[2019-07-18 15:07] jread-usgs commented on #251
Oh, I didn't realize this was an `mda.lakes` function. That package is pretty unsupported for general use...

The function is [here](https://github.com/USGS-R/mda.lakes/blob/afb436e047d2a9ca30dfdeae13745d2ee5109455/R/get_ice_onoff.R#L17). I'm guessing there is either a change w/ GLM v3 that isn't supported or part of the move to the updated `get_var`?

[2019-07-18 15:09] dzrobert commented on #251
Yes, that works fine.  I was using the following series of commands to compare actual and measured ice freeze and breakup:
iceonoff_mod = mda.lakes::get_ice_onoff(ice_data, get_temp(nc_file))
#MODELED Ice Dates
iceonoff_mod
iceonoff_obs = read.csv('Green_ice19.csv', as.is=TRUE)
iceonoff_obs$on = as.POSIXct(iceonoff_obs$on)
iceonoff_obs$off = as.POSIXct(iceonoff_obs$off)
sprintf('Ice ON: %g mean di

[2019-07-18 15:52] hdugan commented on #251
The error is in the `mda.lakes::get_ice_onoff` function.
It was probably due to an update in the `rle2` function.
The function is calling the wrong names from the rle2 output. They need to be
'value'
'start'
'stop'
'length'
NOT values starts stops lengths

[2019-07-18 20:57] hdugan commented on #251
This is a nice function though - maybe it should be in glmtools?

[2019-07-19 00:47] dzrobert commented on #251
For us ice people it would be great.
Dale

Sent from my iPhone

[2019-07-19 13:50] jread-usgs commented on #251
I'm worried about exposing it in the package because it can give you the wrong answer (it makes assumptions about ice dates relative to peak temperatures). I think it is right 99.9% of the time, but consider it to be more of an analysis method that you'd do on the data coming out of `get_ice()` (or _var) where you'd have control and visibility in the decision of when to declare on vs off.

Or perh

[2019-07-19 14:14] pchanson commented on #251
If it’s included, could it be called an ‘estimator’ or some other similar term that indicates it’s derived from assumed relationships that really are statistical in nature?  Alternatively, is there a need for more of a GLM data analysis package, kind of lake the existing lake physics package you created, Jordan?
---------------------------------------------
Paul Hanson
Distinguished Research Profe

[2019-07-24 17:38] dzrobert commented on #251
I would be OK working with an experimental package?  Right now I am just trying to see if ice on and off dates are close, Rather than looking through the daily ice thicknesses, this was working great.  Is there a way just to grab a few lines from mda.lakes that I can run?

[2019-07-24 17:44] dzrobert opened #252 "Using output from Lake Analyzer - Center of Buoyancy"
I am trying to get the Center of Buoyancy from Lake Analyzer using the compare_to_field function and the validate_sim function.

I get the following error: Error in if (depths[2] - depths[1] < 0) { :
  missing value where TRUE/FALSE needed

This is weird because it works just fine for any other output from Lake Analyzer.

Any suggestions

[2019-07-25 17:24] hdugan commented on #252
It's unclear, but your wtr (water temperature output) doesn't have the depths in the correct order.

The function works using the test file from glmtools
[code]

[2019-07-25 17:43] hdugan commented on #251
Dale, I forked the mda repo and fixed the function. You can use it here:

`install_github('hdugan/mda.lakes')`

Don't know if you want a pull request to the main repo

[2019-07-25 20:15] dzrobert commented on #252
Sorry... I screwed up.  My validation data had some data with only surface temperatures.  So, it works fine.  You can close this.

[2019-07-25 20:25] #252 closed

[2019-08-01 19:01] dzrobert opened #253 "Plot_var - Scaling"
The old plot var allowed the user to define the limits on the plot.  Is there any way to do that anymore?

[2019-08-01 20:16] hdugan commented on #253
Dale, to clarify, it looks like the old function had ability to set the x-axis dates, but not the y. Is that functionality you're looking for?

To the larger audience, right now the function is set up so you can use ggsave right in function. However, I think I could make the plotting function more versatile (like setting axes for instance, basically adding more ggplot functionality) if I remove th

[2019-08-01 20:30] jread-usgs commented on #253
I like the pattern where if `filepath` is `NULL`, the function returns the plot object (`p1` here), vs if it is a filepath, that is used to save the plot.

[2019-08-01 20:31] hdugan commented on #253
okie doke. can keep it that way

[2019-08-01 20:32] jread-usgs commented on #253
does the current code do that? return something different depending on the `fig_path` variable?

[2019-08-01 21:03] dzrobert commented on #253
I was referring to the scale used in the plots.  Like TP going from 0 to 300 or 0 to 1000,  Having the code pick the scale is nice, but often there is one very high point that results in one very small red spot and everything else white.

[2019-08-02 03:10] hdugan commented on #253
Dale, ok, so with the z-variable. Got it. Will try and implement that. You could create a custom palette, where it emphasizes the lower values, but I understand that might be time consuming.

Jordan, the fig_path variable works the way it always did. I was just thinking the saving feature could be separate from the function, as ggplot makes that very easy. But I'll keep it as is.

[2019-08-02 13:34] jread-usgs commented on #253
ok, good to know. I've been behind on poking around on this branch. Will try to soon.

[2019-08-09 18:37] dzrobert opened #254 "Examining Ice Data"
Is there any way to add a tool like compare plot_compare_stage for ice?  We could read in a time series of 0's (no ice) and 0.15 (days with ice). Then have plot_compare_ice to plot up the two?

[2019-08-12 14:23] hdugan commented on #254
@dzrobert, yeah that should be no problem. I'll add it to the to-do list.

[2019-09-14 17:40] jread-usgs opened #255 "ability to add or remove fields from nml"
Most pressing case right now is adding the `Kw_file` to the `&light` block in the `glm3.nml`

I need to do:
[code]
which is :(

[2019-09-18 15:19] hdugan commented on #255
[code]

These work if you already have `Kw_file` in the `glm3.nml` file.
Are you looking for the functionality to add parameters to the `gml3.nml` file?  (can you do that with other parameters?)

[2019-09-18 15:26] hdugan commented on #255
I didn't actually read the title of this issue, so apologies on the stupid question.

[2019-09-18 21:04] hdugan commented on #255
This works:
[code]

To remove it
`glm_nml$light$Kw_file = NULL`

[2019-09-19 13:01] jread-usgs commented on #255
Yes, that works but it is kind of a backdoor that goes around the `get`/`set` API for the nml object. But it requires you to know the nml is actually a list and you need to know how it is structured...It also requires you to know which block the parameter is in, which can change with different versions of GLM (for example `Kw` used to be in the set up block and is now in the `light` block).

I'm o

[2019-09-26 11:41] jread-usgs opened #256 "function to shrink and rewrite .nc output"
Sometimes we need to save the raw GLM output, but it is often unnecessarily big. We could:

- apply netcdf compression to the file
- remove all empty layers (often(?) the model is writing layers that don't have any water)

[2019-10-25 12:29] jread-usgs opened #257 "plot_temp doesn't pass fig_path param to plot_var"
Small issue and probably an easy fix, but seems like `fig_path` doesn't get passed to `plot_var` when the user calls `plot_temp`. Instead you get a plot in R. I know we are deprecating `plot_temp`, but until we do, maybe we make this fix?

[2019-10-25 12:30] jread-usgs opened #258 "New ggplot code has coarser lake levels"
Old code:
![glmout_test](https://user-images.githubusercontent.com/2349007/67571300-3c45ae80-f6f9-11e9-95e7-cdba6a974c07.png)
new code:
![glmout_test_ggplot2](https://user-images.githubusercontent.com/2349007/67571308-4071cc00-f6f9-11e9-95bb-e73241910208.png)

Perhaps these finer resolution depth changes are important to show in these plots?

[2019-10-25 14:49] hdugan commented on #258
I think this is solved with the `interval` argument. It's default is 0.5 (in meters), so that sets the grid cell size on the y-axis.

[2019-10-31 20:42] hdugan commented on #257
Fixed on my fork, and will be in next PR

[2020-01-03 16:27] jread-usgs commented on #257
@hdugan was this fixed w/ the recent merge?

[2020-01-03 16:28] jread-usgs commented on #246
Covered in #260

[2020-01-03 16:28] #246 closed

[2020-01-03 16:32] jread-usgs commented on #235
In the new version, this function points to the met file itself, not the nml file, so I'm closing this issue as it is no longer an issue

[2020-01-03 16:32] #235 closed

[2020-01-03 16:32] jread-usgs commented on #208
see #250

[2020-01-03 16:32] #208 closed

[2020-01-03 16:33] jread-usgs commented on #156
Closing for #255

[2020-01-03 16:33] #156 closed

[2020-01-03 16:37] jread-usgs commented on #244
The way to do this now w/ the plotting updates is `glmtools::plot_var_df()`

[2020-01-03 16:37] #244 closed

[2020-01-03 16:38] jread-usgs commented on #172
@hdugan was this covered in your plotting overhaul?

[2020-01-04 17:12] jread-usgs opened #261 "Create error, warning, or ignore system for params that conflict"
It seems failing early on setting params incorrectly would be helpful for users, especially with GLM errors aren't the easiest to track down. Starting with really simple ones first to create a pattern for implementing these rules would be ideal, making it easier for others to propose and implement more complex ones in the future.

For the time being, I am thinking about a couple of things:

- Conf

[2020-01-04 23:01] hdugan commented on #172
yes. with `plot_var_df`

[2020-01-04 23:02] hdugan commented on #257
yes

[2020-01-06 12:26] #172 closed

[2020-01-06 12:26] #257 closed

[2020-01-21 14:59] jordansread opened #262 "exporting, subsetting, and matching output is quite slow"
We haven't taken a look at this code in a _long_ time, but when doing multilake calibrations or different types of calibrations, the `compare_to_field` workflow is pretty slow. This is probably a low priority for the time being, but probably some easy wins using more modern packages to do this type of matching/interpolating within the output matrix.

Before starting on this it would be good to ben

[2020-02-09 13:57] jread-usgs opened #266 "a function for comparing two nml files or nml objects, summarizing differences"
Can do this w/ some fancy list comparisons or by eye, but seems to be an important thing to expose - what is the difference between your old nml and this new one that fails? Your coworker's nml and this one you have?

[2020-02-09 17:18] hdugan commented on #262
Yes, good idea. I think the time sink is in `resample_to_field` so I'll start there

[2020-02-09 19:29] hdugan commented on #262
@jread-usgs rewrote `resample_to_field` using `join` function from `dplyr`. Improves speed about 25%. The rest of the time sink is in `get_var`

Also, I was trying to figure out how to update my branch with the new commits on the USGS ggoverhaul fork... and I'm not sure how, but managed to commit directly to it, instead of to mine 🤦‍♂. Since I've already messed up, going to leave it as is and not

[2020-02-10 15:40] robertladwig commented on #266
Would you want the user to view the differences printed in the console, or as an output object, e.g. nml list with differences?
And should we also compare the nml file with a 'perfect' one including all possible keywords?

[2020-02-10 15:42] hdugan commented on #266
@jread-usgs, Robert and I were just talking about the latter, and the fact that there are a lot of default parameters that have been added to the .nml structure recently, but these aren't documented anywhere. Would be nice to have a master .nml in the package that you can both compare yours to (see if there are parameters you are misisng), and also compare yours to someone else's.

[2020-05-13 14:56] ldecicco-USGS opened #268 "Remove GRAN installation instructions"
Please remove the GRAN installation instructions as we work towards archiving the GRAN repository. Consider changing the `install_github` to use the "remotes" package (a much lighter weight package than devtools).

[2020-05-13 15:18] #268 closed

[2020-06-01 13:46] hdugan opened #270 "dplyr 1.0.0 update throwing error in plot_compare_stage"
With the new dplyr update v.1.0.0, get the following error:

[code]

This is traced back to `vec_rbind` in the vctrs package.
I actually think this might be a dplyr bug... so it might sort itself out.

Until then, keep the old versions of the following packages:
[code]

We might have some other dplyr errors in other functions as well

[2020-06-04 11:04] jread-usgs commented on #270
yucky error. is it in the [master version](https://github.com/USGS-R/glmtools/blob/d1620093dd5dc40d776cb1db464ef66fd9fed4b8/R/plot_compare_stage.R#L18) or the [ggplot update](https://github.com/USGS-R/glmtools/blob/ggplot_overhaul/R/plot_compare_stage.R#L19) branch? or both?

[2020-06-04 15:52] hdugan commented on #270
ggplot update branch only.  (fyi, the master branch still has dependencies on GLMr)

There have been lots of dplyr issues opened in the last week, so I'm just going to wait on this for a little bit.

[2020-06-24 00:37] jread-usgs commented on #270
I ran into this on the master branch today too

[2020-06-24 11:27] jread-usgs commented on #270
I get it when attempting to `left_join` with `DateTime` as the "by" argument. Since `DateTime` here is a POSIXct. I got around it by using `date = as.Date(lubridate::ceiling_date(DateTime, 'days'))` and joining on `date` instead, since I was working with daily output anyhow.

[2020-06-24 13:03] hdugan commented on #270
🤕 I'll look into it this week.

[2020-06-24 13:20] jread-usgs commented on #270
Nevermind me saying it was in the master - the error was actually something I hit _after_ `get_var`, so I was doing the join outside of `glmtools`

[2020-06-24 13:47] hdugan commented on #270
Good!
Trying to understand why this is happening is bizarre, and I'm surprised there isn't more stackoverflow discussions about it. POSIXct is throwing the errors. Works if I convert to POSIXlt (which I haven't used in a long time).

[2020-06-24 14:08] hdugan commented on #270
Figured it out (or at least part of it). In the `get_time` function, `hours_since  <- ncvar_get(glm_nc, "time")` returns an array as opposed to a vector. This adds 'dimensions' to the object which downstream cause a lot of problems. By changing to a numeric vector everything seems to work as previously.

[code]

[2020-11-30 19:58] charman2 opened #271 "Fresh install fails"
I'm just getting started with GLM. On a fresh install of R, `remotes::install_github('usgs-r/glmtools')` gives:
[code]

I've installed GLM3r using `devtools::install_github("GLEON/GLM3r")` and  `library(GLM3r)` seems to work. Installing glmtools failed the same way before and after I installed GLM3r

If it helps, `version` gives:
[code]

[2020-11-30 20:00] jread-usgs commented on #271
try `devtools::install_github("GLEON/GLMr")` first

[2020-11-30 20:05] charman2 commented on #271
That worked. Thanks for the quick reply!

[2020-11-30 20:05] #271 closed

[2021-02-02 15:07] jread-usgs commented on #261
Another tricky one that will cause a GLM v3.1 segfault but not let you know why: when `crest_elev` is below the bottom of `H`

[2021-12-08 08:42] fanxian1998 opened #273 "New issue with calibrate_sim"
The following is part of the code of R language Lanmei :

calib_setup <-   setup <- data.frame('pars' = as.character(c('wind_factor','lw_factor','ch','sed_temp_mean','sed_temp_mean',
                                                             'coef_mix_hyp','Kw')),
                                     'lb' = c(0.7,0.7,5e-4,3,8,0.6,0.05),
                                     'ub' = c(2,2,0.002,8,2

[2021-12-08 08:43] fanxian1998 commented on #273
I hope teachers will give suggestions .thank you all !

[2021-12-08 11:28] jread-usgs commented on #273
@robertladwig can you respond to this ☝️

[2021-12-08 13:34] fanxian1998 commented on #273
@robertladwig Hello, do you have any good suggestions? I tried to modify it for a long time, but this problem still can't be solved .

[2021-12-08 16:48] robertladwig commented on #273
that error means that a parameter combination of the calibration algorithm resulted in a GLM run with NaN's meaning that the simulation probably did crash. A cause could be that your lower boundary value (lb) of coef_mix_hyp is higher than your upper boundary value (ub), 0.6 to 0.4

[2021-12-09 02:22] fanxian1998 commented on #273
@robertladwig .After reading your reply, I adjusted it as soon as possible, but the same error still appeared. I reorganized it and found a warning. Could it be that it caused the error. The specific warnings are as follows:

Warning messages:
1: In buildVal(textLine, lineNum = j, blckName):
   NAs introduced by coercion
2: In buildVal(textLine, lineNum = j, blckName):
   NAs introduced by coercio

[2021-12-09 06:43] fanxian1998 commented on #273
Hello, teachers. In my continuous attempts, I found that when running the model, this error seems to appear randomly. Whenever there is need at least two non-NA values to interpolate, I open the Lake.csv file obtained by running and it will There are many values such as -nan(ind), and then I run the model once. When there is no error, the Lake.csv file obtained by the model is correct again. Howev

[2021-12-16 05:31] fanxian1998 commented on #273
Two teachers, the problem has been solved, it turned out to be a version problem .thank you

[2022-01-19 23:57] jesse-ross opened #274 "NOTICE: upcoming default branch name change"
The `master` branch of this repository will soon be renamed from `master` to `main`, as part of a coordinated change across the USGS-R and USGS-VIZLAB organizations.  This is part of a broader effort across the git community to use more inclusive language. For instance, [git](https://sfconservancy.org/news/2020/jun/23/gitbranchname/), [GitHub](https://github.com/github/renaming), and [GitLab](http

[2022-01-20 20:04] jread-usgs commented on #274
renaming done, but haven't searched for uses or notified others.

[2022-06-10 19:14] padilla410 opened #275 "`plot_var_compare` errors when the field data is a `tibble`"
`plot_var_compare` errors when the field data is a `tibble` rather than a `data.frame`. This is due to differences in the way columns are extracted from two data types.

`plot_var_compare` calls [`resample_to_field`](https://github.com/USGS-R/glmtools/blob/09df1a71401d5d114fc229caa249946baf2e638b/R/plot_var_compare.R#L65) which then calls [`read_field_obs`](https://github.com/USGS-R/glmtools/blob/

[2022-06-10 19:38] padilla410 commented on #270
This bug is related to the issues in #275. `dplyr 1.0.0` outputs data summaries into `tibbles`. A reproducible example:
[code]

The output:
[code]